{% set menu = knp_menu_get('blackowl_sylius_supplier.admin.supplier_form', [], {'supplier': supplier}) %}
{{ knp_menu_render(menu, {'template': '@BlackowlSyliusSupplierPlugin/Admin/Supplier/_menu.html.twig', 'form': form, 'supplier': supplier}) }}
