<div>
    <h3 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h3>
    {{ form_errors(form) }}

    <div class="ui one column stackable grid">
        <div class="column">
            <div class="ui segment">
                {{ form_row(form.code) }}
                {{ form_row(form.name) }}
                {{ form_row(form.vat) }}
                {{ form_row(form.address) }}
                {{ form_row(form.email) }}
                {{ form_row(form.tel) }}
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('blackowl_sylius_supplier.admin.supplier.' ~ action ~ '.tab_details', {'form': form}) }}
</div>
