{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default('sylius_admin_product_index'), options.link.parameters|default({'criteria': {'supplier': data.id}}))) %}

{{ buttons.default(path, action.label, null, 'cube') }}
